/5fe11acea1ba780086614f6b6f5a36a449cc0902eb0306d1_rbooks_activity.csv
/872a7a2986dad903832622afd5519b99fafd319dd9f90d10_activity_r_books.csv
/top_author_notes.csv
*.p
!weekly_FSS_metrics.p
*.zip
/neutral_sentiment_activities/*
!/feature_selection_*
!*regression_data.p
*.pyc
!plotting_metrics.p
!test*.p