/5fe11acea1ba780086614f6b6f5a36a449cc0902eb0306d1_rbooks_activity.csv
/872a7a2986dad903832622afd5519b99fafd319dd9f90d10_activity_r_books.csv
/top_author_notes.csv
*.p
*.png
!weekly_FSS_metrics.p
*.zip
*.xlsx
!/feature_selection_*
!*regression_data.p
regression_test_outputs/*
*.ods
*metrics_*.p
/neutral_sentiment_activities/*
*.pyc
!plotting_metrics.p
!test*.p
regression_outputs/archived*
regression_outputs/linear*
regression_outputs/logistic*
regression_outputs/mnlogit*
!regression_outputs/results/*
!regression_outputs/*/outputs/*
*regression_thread_data*.p
*.out
*.log
regression_outputs/*

regression_outputs/09_04_2024__communal_processing.log
regression_outputs/09042024_c7_m7_pol_nohup.out
regression_outputs/09042024_c7_m14_nohup.out
regression_outputs/09042024_c14_m7_pol_nohup.out
regression_outputs/26_03_2024_c7_m7/logs/books_logistic.log
regression_outputs/26_03_2024_c7_m7/logs/conspiracy_logistic.log
regression_outputs/26_03_2024_c7_m7/logs/main.log
regression_outputs/26_03_2024_c7_m7/logs/conspiracy_mnlogit.log
regression_outputs/09_04_2024__communal_processing.log
regression_outputs/09_04_2024__communal_processing.log
regression_outputs/09042024_c7_m7_pol_nohup.out
regression_outputs/09042024_c7_m14_nohup.out
regression_outputs/09042024_c7_m14_nohup.out
